body{
    background-color: #f5f0f0;
    font-family: 'Ubuntu Mono', serif;
}
.main{
    display: flex;
    flex-direction: column;
    margin: 50px;
}
.text{
    display: flex;
    flex-wrap: wrap;
}
.wordSpan{
    font-size: 35px;
}

.current{
    text-decoration: underline;
}
.correct{
    color: rgb(198, 198, 198);
}
.mistake{
    font-size: 35px;
    color:rgb(247, 107, 107)
}

.outerSpan{
    display: flex;
    align-items: center;
}